
body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	display: block;
}

.div-div{
	width: 100%;
	height: 100%;
	display: block;
}

.row{
	height: calc(100%/3);
	width: 100%;
}

.red {
	background-color: #FFBBDD;	
}

.pink {
	background-color: #DB7093;
}

.white{
	background-color: #ffffff;
}

.center-content {
	align-items: center;
	display:flex;
	justify-content: center;
}

.restrict-img-size {
	max-height: 90%;
	max-width: 90%;
}

